@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: #f1f1f1;
    color: #0f141e;

    /* font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif; */

    font: normal 16px 'Roboto', sans-serif;    
}

a {
    color: #000;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(139 98 27);;
}

.avatar {
    height: 300px;
    border-radius: 30px;
    box-shadow: 11px 7px 14px rgb(139 98 27);
}

.info {
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* letter-spacing: 5px; */
    /* word-spacing: 42px; */
}



/* Box Model */
/* .social {
    background: green;
    /* padding: 15px; */
    /* padding: 15px 40px;
    border: 5px solid red;
    margin: 20px;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: blue; */
/* } */

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}


.box-model > div {
    float: left;
    background: #000;
    height: 200px;
    width: 25%;
    border: 2px solid red;
    box-sizing: border-box;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffef;
}

.bg-red {
    background: #ffe5e5;
}



.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;

}

.card h2 {
    margin-bottom: 10px;
}

.table {
    width: 100%;

}

.table td {
    padding-bottom: 10px;

}

.table td:nth-child(2), 
.table td:nth-child(3) {
    color: #86898f;
}

.list {
    padding: 0px 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;

}

.contact h2{ 
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;

}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    background: transparent;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.temp {
    margin-bottom: 200px;
}

 .position{
     border-radius: 10%;
    

}

.box {
    
    position: fixed;
    top: 20%;
    left: 20px;
    width: 50px;
    height: 150px;
    background: rgba(95%);
}

.soc-vk { 
    border-radius: 20%;
    height: 33%;
    background-color: #4680C2;
    background-image: url(VK.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.soc-tg { 
    border-radius: 20%;
    height: 33%;
    background-color: #36AEE2;
    background-image: url(Telegram.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.soc-wa { 
    border-radius: 20%;
    height: 33%;
    background-color: #2CC179;
    background-image: url(WhatsApp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    cursor: pointer;
    
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
